@import url("colors.css");

* {
  font-family: "JetBrainsMonoNL Nerd Font", "Noto Color Emoji", sans-serif;
  font-size: 13px;
}

#waybar {
  min-height: 22px;
  margin: 0;
  color: @accent;
  background-color: @bg;
}

#workspaces button {
  color: @accent;
  padding: 0 0.2em;
  background-color: transparent;
}

#workspaces button.active {
  color: @accent-fg;
}

#workspaces button.focused {
  color: @accent-fg;
  background: transparent;
  border-radius: 15px;
}

#workspaces button:hover {
  background: transparent;
  color: @selected-fg;
  border-radius: 15px;
}

#workspaces button.empty {
  color: @surface-fg;
}

#window-title {
  color: @accent;
  padding: 0 0.5em;
}

#wireplumber,
#battery,
#language,
#network,
#bluetooth,
#tray,
#clock {
  padding: 0 0.5em;
}

#battery {
  color: @accent;
}

#battery.critical:not(.charging) {
  color: @critical;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network {
  background-color: transparent;
  color: @accent;
}
