@import url("colors.css");

window {
  margin: 0px;
  border: 2px solid @accent;
  background-color: @bg;
  border-radius: 12px;
  font-family: "JetBrainsMono Nerd Font", "Inter", sans-serif;

  animation: fadeIn 0.2s ease-out;
}

#outer-box {
  margin: 8px;
  padding: 0px;
  background-color: @bg;
}

#scroll {
  margin: 0px;
  border: none;
}

#inner-box {
  margin: 0px;
  padding: 0px;
  color: @fg;
}

#entry {
  padding: 6px;
  margin: 4px;
  background-color: @input-bg;
  border-radius: 8px;

  transition: all 0.15s ease-out;
}

#img {
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
}

#text {
  display: none;
}

#entry:selected {
  background-color: @selected;
  border: 1px solid @accent;
  outline: none;
}

#entry:hover {
  background-color: @selected;
  border: 1px solid @accent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: -10px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
